{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-direct-import",
      {
        "modules": [
          "@mui/icons-material",
          "next-firebase-auth"
        ]
      }
    ]
  ]
}
